In [2]:
import pandas as pd 
import numpy as np
import requests
import time
import selenium
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException

import re

In [2]:
#Q.1 scrape details of most viewed videows on youtube from wikipedia

In [2]:
driver=webdriver.Chrome(r"c:\User\Admin\Desktop\selenium_driver\chromedriver.exe")

In [3]:
url= 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [5]:
Rank=[]
Video_Name=[]
Artist=[]
Upload_Date=[]
Views=[]

try:
    rank=driver.find_elements(By.XPATH,"//div[@class='mw-parser-output']//table[3]//tbody//tr//td[1]")
    for i in rank:
        Rank.append(i.text)
except:
    Rank.append('-')
    
try:
    vn=driver.find_elements(By.XPATH,"//div[@class='mw-parser-output']//table[3]//tbody//tr//td[2]")
    for i in vn:
        Video_Name.append(i.text)
except:
    Video_Name.append('-')
    

    
try:
    ud=driver.find_elements(By.XPATH,"//div[@class='mw-parser-output']//table[3]//tbody//tr//td[4]")
    for i in ud:
        Upload_Date.append(i.text)
except:
    Upload_Date.append('-')
    
try:
    vw=driver.find_elements(By.XPATH,"//div[@class='mw-parser-output']//table[3]//tbody//tr//td[5]")
    for i in vw:
        Views.append(i.text)
except:
    Views.append('-')
    
print(len(Rank))
print(len(Video_Name))

print(len(Upload_Date))
print(len(Views))

#creating a dataframe
df=pd.DataFrame({'Rank': Rank,
                'Video_Name':Video_Name,
                 
                 'Upload_Date': Upload_Date,
                 'Views': Views,
                })
#printing dataframe
df

20
20
20
20

,Rank,Video_Name,Upload_Date,Views
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016","November 2, 2020"
1,"""Despacito""[9]",Luis Fonsi,"January 12, 2017","August 4, 2017"
2,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015","July 10, 2017"
3,"""Gangnam Style""⁂[30]",Psy,"July 15, 2012","November 24, 2012"
4,"""Baby""*[66]",Justin Bieber,"February 19, 2010","July 16, 2010"
5,"""Bad Romance""[70]",Lady Gaga,"November 24, 2009","April 14, 2010"
6,"""Charlie Bit My Finger""‡[74]",HDCYT,"May 22, 2007","October 25, 2009"
7,"""Evolution of Dance""[77]",Judson Laipply,"April 6, 2006","May 2, 2009"
8,"""Girlfriend""‡[79][80]",RCA Records,"February 27, 2007","July 17, 2008"
9,"""Evolution of Dance""[77]",Judson Laipply,"April 6, 2006","March 15, 2008"
10,"""Music Is My Hot Hot Sex""‡[84]",CLARUSBARTEL72,"April 9, 2007","March 1, 2008"
11,"""Evolution of Dance""*[77]",Judson Laipply,"April 6, 2006","May 19, 2006"
12,"""Pokémon Theme Music Video""‡[90]",Smosh,"November 28, 2005","March 12, 2006"
13,"""Myspace – The Movie""‡[95][96]",eggtea,"January 31, 2006","February 18, 2006"
14,"""Phony Photo Booth""‡[99]",mugenized,"December 1, 2005","January 21, 2006"
15,"""The Chronic of Narnia Rap""‡[101]",youtubedude,"December 18, 2005","January 9, 2006"
16,"""Cross Bar""‡[103]",joeB,"October 21, 2005","December 10, 2005"
17,"""Ronaldinho: Touch of Gold""‡*[105]",Nikesoccer,"October 21, 2005","October 31, 2005"
18,"""I/O Brush""‡*[108]",larfus,"October 5, 2005","October 29, 2005"
19,"""Me at the zoo""[111]",jawed,"April 23, 2005","April 23, 2005"

In [ ]:
#Q.4 Scrape the details of trending repositories

In [24]:
driver=webdriver.Chrome(r"c:\User\Admin\Desktop\selenium_driver\chromedriver.exe")

In [25]:
url = "https://github.com/"


driver.get(url)

time.sleep(5)

btn_clk = driver.find_element(By.XPATH,"//ul[@class='d-lg-flex list-style-none']//li[3]//button")
btn_clk.click()

time.sleep(5)

trending_option = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trending_option.click()

In [27]:
Repository_title = []
Repository_description =[]
Contributors_counts =[]
Language_used = []

try:
    title=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
    for i in title:
        Repository_title.append(i.text)
except:
    Repository_title.append('-')
    
try:
    desc=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in desc:
        Repository_description.append(i.text)
        
except:
    Repository_description.append('-')
    


print(len(Repository_title))
print(len(Repository_description))

df=pd.DataFrame({'Repository_title':Repository_title,
                 'Repository_description':Repository_description
                
                 
                 
                 
                })
#printing dataframe
df

25
25

         Repository_title                             Repository_description
0         ChaoningZhang /  This is the offiicial code for Faster Segment ...
1               ramonvc /  GPT 3.5/4 with a Chat Web UI. No API key requi...
2                 THUDM /  ChatGLM2-6B: An Open Bilingual Chat LLM | 开源双语...
3            PowerShell /                       PowerShell for every system!
4            XingangPan /          Official Code for DragGAN (SIGGRAPH 2023)
5               hiyouga /  Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效...
6              facebook /  An open-source C++ library developed and used ...
7                 THUDM /  ChatGLM-6B: An Open Bilingual Dialogue Languag...
8   practical-tutorials /            Curated list of project-based tutorials
9           sohamkamani /  An ultra-simplified explanation of design patt...
10       papers-we-love /  Papers from the computer science community to ...
11                  cvg /   LightGlue: Local Feature Matching at Light Speed
12            turboderp /  A more memory-efficient rewrite of the HF tran...
13             fuqiuluo /                                   获取QQSign通过Unidbg
14       jasontaylordev /  Clean Architecture Solution Template for ASP.N...
15         toeverything /  There can be more than Notion and Miro. AFFiNE...
16            ripienaar /  A list of SaaS, PaaS and IaaS offerings that h...
17      EbookFoundation /               📚 Freely available programming books
18              chat2db /  🔥 🔥 🔥 An intelligent and versatile general-pur...
19               PlexPt /                ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。
20              labmlai /  🧑‍🏫 59 Implementations/tutorials of deep learn...
21            microsoft /  24 Lessons, 12 Weeks, Get Started as a Web Dev...
22          dragonflydb /       A modern replacement for Redis and Memcached
23               wgwang /                                              中国大模型
24           StanGirard /  🧠 Dump all your files into your private Genera...

In [13]:
#Q.8 Details of dataset from UCI machine learning repository

In [43]:
driver=webdriver.Chrome(r"c:\User\Admin\Desktop\selenium_driver\chromedriver.exe")

In [44]:
url = 'https://archive.ics.uci.edu/'  
driver.get(url)

In [45]:
button_view=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
button_view.click()

In [46]:
expand_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
expand_button.click()

In [47]:
product_url=[]
url=driver.find_elements(By.XPATH,'//div[@class="rounded-box bg-base-100"]')
for i in url:
    product_url.append(i)

In [53]:
Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]


#for url in product_url:
 #   driver.get(url)
    
    
    
try:   # Extracting Dataset_name from the xpath
    name=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in name:
        Dataset_name.append(i.text)
except:
    Dataset_name.append('-')
try:   # Extracting Data_type from the xpath
    type=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[2]/span')
    for i in type:
         Data_type.append(i.text)
except:
    Data_type.append('-')
    

try:   # Extracting task from the xpath
    task=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[1]/span')
    for i in task:
        Task.append(i.text)
except:
    Task.append('-')
    
try:   # Extracting Attribute_type from the xpath
    attribute=driver.find_elements(By.XPATH,'//*[@class="border"]/tr/td[2]')
    for i in attribute:
        Attribute_type.append(i.text)
except:
    Attribute_type.append('-')
    
try:   # Extracting No_of_instances from the xpath
    instances=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[3]/span')
    for i in instances:
        No_of_instances.append(i.text)
except:
    No_of_instances.append('-')
try:   # Extracting No_of_attribute from the xpath
    attribute1=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]/div[4]/span')
    for i in attribute1:
        No_of_attribute.append(i.text)
except:
    No_of_attribute.append('-')
    
    
try:   # Extracting Year from the xpath
    year=driver.find_elements(By.XPATH,'//*[@class="border"]/tr/td[3]')
    for i in year:
        Year.append(i.text)
except:
    Year.append('-')

#time.sleep(4)#delay for 4 seconds

#creating a dataframe
print(len(Dataset_name))
print(len(Data_type))
print(len(Task))
print(len(Attribute_type))
print(len(No_of_instances))
print(len(No_of_attribute))
print(len(Year))
df=pd.DataFrame({'Dataset_name':Dataset_name,
                'Data_type':Data_type,
                'Task':Task,
                'Attribute_type': Attribute_type,
                'No_of_instances': No_of_instances,
                 'No_of_attribute': No_of_attribute,
                 'Year': Year,
                })
#printing dataframe
df

10
10
10
10
10
10
10

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Iris,Multivariate,Classification,Real,150 Instances,4 Attributes,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Attributes,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Attributes,5/1/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,17 Attributes,9/14/2020
4,Diabetes,,,"Categorical, Integer",,20 Attributes,N/A
5,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,8 Attributes,10/6/2019
6,Wine,Multivariate,Classification,"Integer, Real",178 Instances,13 Attributes,7/1/1991
7,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Attributes,6/1/1997
8,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Attributes,11/1/1995
9,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Attributes,4/27/1987

In [ ]:
#Q.3 scrape the details of statewiese GDP of INDIA

In [35]:
driver=webdriver.Chrome(r"c:\User\Admin\Desktop\selenium_driver\chromedriver.exe")

In [36]:
url = 'http://statisticstimes.com/'  #Opening the statistics.com website
driver.get(url)

In [38]:
clk_eco = driver.find_element(By.XPATH,"//button[@class='dropbtn']//..//..//div[2]//button")
clk_eco.click()#clicking Economy button

In [39]:
clk_india = driver.find_element(By.XPATH,"//div[@class='dropdown-content']//..//..//div[2]//div//a[3]") 
clk_india.click()#clicking India button

In [42]:
clk_stateGDP = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
clk_stateGDP.click()#clicking StateGDP button

In [43]:
rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
GDP=[]
urls=[]

try:   # Extracting rank from the xpath
    ranks=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody//tr//td[1]')
    for i in ranks:
        rank.append(i.text)
except:
    rank.append('-')


try:  # Extracting state from the xpath
    states=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody//tr//td[2]')
    for i in states:
        state.append(i.text)
except:
    state.append('-')


try:   # Extracting gsdp1 from the xpath
    gsdp1=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody//tr//td[3]')
    for i in gsdp1:
        GSDP1.append(i.text)
except:
    GSDP1.append('-')

try:   # Extracting gsdp2 from the xpath
    gsdp2=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody//tr//td[4]')
    for i in gsdp2:
        GSDP2.append(i.text)
except:
    GSDP2.append('-')

try:   # Extracting share from the xpath
    shares=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody//tr//td[5]')
    for i in shares:
        share.append(i.text)
except:
    share.append('-')


try:    # Extracting GDP from the xpath
    gdp=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody//tr//td[6]')
    for i in gdp:
        GDP.append(i.text)
except:
    GDP.append('-')



#creating a dataframe
df=pd.DataFrame({'Rank':rank,
                'State':state,
                'GSDP19-20':GSDP1,
                'GSDP18-19': GSDP2,
                'Share': share,
                'GDP':GDP})
#printing dataframe
df

   Rank                      State  GSDP19-20  GSDP18-19   Share      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

In [44]:
#Q.4 scrape details of trending reppositories on Github.com

In [45]:
url = 'https://github.com/' #Opening the Github.com
driver.get(url)

In [52]:
clk_explore = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button")
clk_explore.click()

In [58]:
clk_open=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
clk_open.click()

In [59]:
clk_trending=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]")
clk_trending.click()

In [ ]:
#Q.7 Scrape the details of most watched TVseries of all time from imdb.com

In [4]:
driver=webdriver.Chrome(r"c:\User\Admin\Desktop\selenium_driver\chromedriver.exe")

In [5]:
driver.get('https://www.imdb.com/list/ls095964455')

In [6]:
#Creating Empty List
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

try:   # Extracting name from the xpath
    name=driver.find_elements(By.XPATH,"//*[@class='lister-item-header']//a")
    for i in name:
        Name.append(i.text)
except:
    Name.append('-')
    
try:   # Extracting year span from the xpath
    year=driver.find_elements(By.XPATH,"//*[@class='lister-item-header']//span[2]")
    for i in year:
        Year_span.append(i.text)
except:
    Year_span.append('-')
    
try:  # Extracting genre from the xpath
    genre=driver.find_elements(By.XPATH,"//*[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except:
    Genre.append('-')
    
try:   # Extracting run time from the xpath
    run_time=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in run_time:
        Run_time.append(i.text)
except:
    Run_time.append('-')
    
try:   # Extracting ratings from the xpath
    ratings=driver.find_elements(By.XPATH,"/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except:
    Ratings.append('-')
    
try:   # Extracting votes from the xpath
    votes=driver.find_elements(By.XPATH,"//*[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except:
    Votes.append('-')
    
    
time.sleep(4) #delay for 4 seconds

#creating a dataframe
df=pd.DataFrame({'Name':Name,
                'Year_span':Year_span,
                'Genre':Genre,
                'Run_time': Run_time,
                'Votes': Votes,
                })
#printing dataframe
df

,Name,Year_span,Genre,Run_time,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,"2,173,715"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,"1,251,542"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"1,032,493"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,"303,560"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"262,731"
...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,"51,957"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,"63,993"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,"208,546"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,"43,402"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,"260,203"

In [ ]:
#Q.6Scrape details of highest selling novels

In [7]:
driver=webdriver.Chrome(r"c:\User\Admin\Desktop\selenium_driver\chromedriver.exe")

In [9]:
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'  #Open the website by using driver.get
driver.get(url) #opening the guardian.com

In [10]:
Book_name=[]
Author_name=[]
Volumes_sold=[]
Publisher=[]
Genre=[]

try:   #Extracting week on book name from the xpath
    book_name=driver.find_elements(By.XPATH,"//*[@class='in-article sortable']//tbody//tr//td[2]")
    for i in book_name:
        Book_name.append(i.text)
except:
    Book_name.append('-')

time.sleep(4) #delay for 4 seconds
        
try:   # Extracting week on author name from the xpath
    author_name=driver.find_elements(By.XPATH,"//*[@class='in-article sortable']//tbody//tr//td[3]")
    for i in author_name:
        Author_name.append(i.text)
except:
    Author_name.append('-') 

time.sleep(4) #delay for 4 seconds

try:   # Extracting volumes sold from the xpath
    vol_sold=driver.find_elements(By.XPATH,"//*[@class='in-article sortable']//tbody//tr//td[4]")
    for i in vol_sold:
        Volumes_sold.append(i.text)
except:
    Volumes_sold.append('-') 
    
time.sleep(4) #delay for 4 seconds

try:   # Extracting publisher from the xpath
    publisher=driver.find_elements(By.XPATH,"//*[@class='in-article sortable']//tbody//tr//td[5]")
    for i in publisher:
        Publisher.append(i.text)
except:
    Publisher.append('-')

time.sleep(4) #delay for 4 seconds

try:   # Extracting genre from the xpath
    genre=driver.find_elements(By.XPATH,"//*[@class='in-article sortable']//tbody//tr//td[6]")
    for i in genre:
        Genre.append(i.text)
except:
    Genre.append('-')

time.sleep(4) #delay for 4 seconds

#creating a dataframe
df=pd.DataFrame({'Book_Name':Book_name,
                'Author_Name':Author_name,
                'Volumes_Sold':Volumes_sold,
                'Publisher': Publisher,
                'Genre': Genre,
                })
#printing dataframe
df

,Book_Name,Author_Name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [ ]:
#Q.5 Scrape the details of top 100 songs

In [12]:
driver=webdriver.Chrome(r"c:\User\Admin\Desktop\selenium_driver\chromedriver.exe")

In [13]:
url = 'https://www.billboard.com/'  #Opening the billboards
driver.get(url)

In [17]:
clk = driver.find_element(By.XPATH,"/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button")
clk.click() #clicking the button

time.sleep(3) #delay for 3 seconds

In [18]:
clk_chart = driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a") 
clk_chart.click()

In [20]:
clk_100hot = driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a") 
 
clk_100hot.click()

In [21]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Week_on_board=[]

try:   # Extracting song name from the xpath
    song_name=driver.find_elements(By.XPATH,"//*[@class='lrv-u-width-100p']//ul//li//h3")
    for i in song_name:
        Song_name.append(i.text)
except:
    Song_name.append('-')
    
try:   # Extracting artist name from the xpath
    artist_name=driver.find_elements(By.XPATH,"//*[@class='lrv-u-width-100p']//ul//li[1]//span")
    for i in artist_name:
        Artist_name.append(i.text)
except:
    Artist_name.append('-')

try:   # Extracting last week rank from the xpath
    Last_week_ranks=driver.find_elements(By.XPATH,"//*[@class='lrv-u-width-100p']//ul//li[4]//span")
    for i in Last_week_ranks:
        Last_week_rank.append(i.text)
except:
    Last_week_rank.append('-')
    
lst=[]#rejection list
last_week_ranks=[]#final list
for i in range(0, len(Last_week_rank)): #extracting even and odd index details separately.
    if i % 2:
        lst.append(Last_week_rank[i])#rejecting odd index details
    else :
        last_week_ranks.append(Last_week_rank[i])#extracting even index details

try:   # Extracting peak ranks from the xpath
    peak_ranks=driver.find_elements(By.XPATH,"//*[@class='lrv-u-width-100p']//ul//li[5]//span")
    for i in peak_ranks:
        Peak_rank.append(i.text)
except:
    Peak_rank.append('-')

peak=[]#rejection list
Peak_ranks=[]#final list

for i in range(0, len(Peak_rank)):#extracting even and odd index details separately.
    if i % 2:
        peak.append(Peak_rank[i])#rejecting odd index details
    else :
        Peak_ranks.append(Peak_rank[i])#extracting even index details
        
try:   # Extracting week on boards from the xpath
    Week_on_boards1=driver.find_elements(By.XPATH,"//*[@class='lrv-u-width-100p']//ul//li[6]//span")
    for i in Week_on_boards1:
        Week_on_board.append(i.text)
except:
    Week_on_board.append('-')

week=[]#rejection list
Weeks_on_boards=[]#final list

for i in range(0, len(Week_on_board)):#extracting even and odd index details separately.
    if i % 2:
        week.append(Week_on_board[i])#rejecting odd index details
    else :
        Weeks_on_boards.append(Week_on_board[i])#extracting even index details
#creating a dataframe
df=pd.DataFrame({'Song_Name':Song_name,
                'Artist_Name':Artist_name,
                'Last_Week_Ranks':last_week_ranks,
                'Peak_Ranks': Peak_ranks,
                'Week_On_Board': Week_on_board,
                })
#printing dataframe
df

,Song_Name,Artist_Name,Last_Week_Ranks,Peak_Ranks,Week_On_Board
0,Last Night,Morgan Wallen,1,1,21
1,Fast Car,Luke Combs,3,2,13
2,Calm Down,Rema & Selena Gomez,4,3,42
3,Flowers,Miley Cyrus,2,1,23
4,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...
95,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
96,Girl In Mine,Parmalee,-,97,1
97,Moonlight,Kali Uchis,90,80,11
98,Classy 101,Feid x Young Miko,-,99,1
99,Bluffin,Gucci Mane & Lil Baby,-,100,1

In [ ]:
#Q.2 Scrape details of team india's international fixtures

In [38]:
driver=webdriver.Chrome(r"c:\User\Admin\Desktop\selenium_driver\chromedriver.exe")

In [39]:
url = 'https://www.bcci.tv/'  #Opening the bcci.tv
driver.get(url)

In [40]:
clk_international = driver.find_element(By.XPATH,"/html/body/nav/div/div[2]/ul[1]/li[2]/a")
clk_international.click()

In [42]:
match_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

#Extracting Match title by using xpath
title=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
for i in title:
    match_title.append(i.text.split('-').pop(0))
#Extracting series by using xpath 
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    Series.append(i.text)
#Extracting place by using xpath
place=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in place:
    Place.append(i.text)
#Extracting Date by using xpath   
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    Date.append(i.text)
#Extracting Time by using xpath   
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time.append(i.text)
    
#creating a dataframe
df=pd.DataFrame({'Match_Title':match_title,
                'Series':Series,
                'Place':Place,
                'Date': Date,
                'Time': Time,
                })
#printing dataframe
df

,Match_Title,Series,Place,Date,Time
0,1st T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,Dhaka,9 JUL 2023,1:30 PM IST
1,2nd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,Dhaka,11 JUL 2023,1:30 PM IST
2,1st Test,INDIA TOUR OF WEST INDIES 2023,Dominica,12 JUL 2023,7:30 PM IST
3,3rd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,Dhaka,13 JUL 2023,1:30 PM IST
4,1st ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,Dhaka,16 JUL 2023,9:00 AM IST
5,2nd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,Dhaka,19 JUL 2023,9:00 AM IST
6,2nd Test,INDIA TOUR OF WEST INDIES 2023,Trinidad,20 JUL 2023,7:30 PM IST
7,3rd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,Dhaka,22 JUL 2023,9:00 AM IST